.what-we-do{
  @include heading;
}

// .key-issues {}
.key-issues__heading {
  @include heading;
}

.key-issues__content {
  max-width: 1400px;
  padding: 40px;
  margin: 0 auto;
}



//Single Issue
.key-issue {
  margin-bottom: 2rem;
  background-color: $cream;

  &:nth-child(even) &__flex {
    flex-direction: row-reverse;
  }

  &:nth-child(even) &__image {
    padding: 0 0 0 2rem;
  }

  &__flex {
    display: flex;
  }

  &__image {
    object-fit: cover;
    width: 50%;
    padding: 0 2rem 0 0;
  }

  &__content {
    padding: 2rem;
  }

  &__hidden {
    display: none;
    margin: 2rem 0 0;
    padding: 3rem;
  }
}



// web
@media (min-width: 1200px) {}

// mobile
@media (max-width: 1200px) {
  .key-issues__content {

    padding: 0;
    margin: 0;

    ul {
      font-size: $font-xsmall;
      margin-left: 0;
    }

    p {
      font-size: $font-xsmall;
    }

    h2 {
      font-size: $font-small;
    }

    h1 {
      font-size: $font-small;
      font-weight: $heavy-weight;
    }
  }
}